body {
  background-color: #F3F6F7;
  font-family: 'Roboto', sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.top-bar {    
  font-weight: 700;
  word-spacing: 2.5em;
  margin-top: 1em;
  margin-right: 3em;
  text-align: right;
  font-size: 1.1em;
}

.top-item:hover {
  color: #66BCFA;
  cursor: pointer;
}

.title-container {
  text-align: center;
  display: inline-block;
  width: 50%;
  margin-top: 10%;
  vertical-align: top;
}

.title-container span {
  display: block;
}

@keyframes name-animation {
  0% {color: #5D659E;}
  50% {color: #66BCFA;}
  100% {color: #5D659E;}
}

@keyframes position-animation {
  0% {color: #66BCFA;}
  50% {color: #5D659E;}
  100% {color: #66BCFA;}
}

.title-container .name {
  font-weight: 700;
  font-size: 8em;
  color: #66BCFA;
  animation-name: name-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.title-container .position {
  font-size: 3.5em;
  color: #5D659E;
  animation-name: position-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.self-profile {
  float: right;
  clear: both;
}

.self-container {
  margin-top: 1em;    
  justify-content: space-between;
  display: flex;
}

.about-me-container {
  background-color: #2F3440;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.about-me-container span {
  color: #F3F6F7;
  width: 44%;
  align-self: center;
  margin-left: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
}

.about-me-container #about-me {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  width: 45%;
  margin-left: 0%;
}

.self-img {
  display: inline-block;
  vertical-align: bottom;
}

.skills-container {
  background-color: #F3F6F7;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.skills-container #skills {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  width: 45%;
  align-self: center;
}

.skills-container #skills-list {
  width: 44%;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2.2em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#skills-list li {
  margin: 30px 0;
}

.white-line-vertical {    
  height: 100%;
  width: 5px;
  background-color: #F3F6F7;
}

.blue-line-vertical {    
  height: 100%;
  width: 5px;
  background-color: #2F3440;
}

li.java {
  background: url('../Resources/java.png') no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px; 
}

li.c {
  background: url('../Resources/c3.png') no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px; 
}

li.javascript {
  background: url('../Resources/JavaScript-logo.png') no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px; 
}

li.sql {
  background: url('../Resources/sql2.png') no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px; 
}

.page-title {
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
}

.resume-content-words {
  padding: 20px;
}

.header {
  font-size: 2.2em;
  text-decoration: underline;
  font-weight: 700;
}

.header-2 {
  font-size: 1.8em;
  font-weight: 700;
}

.sub-item {
  font-size: 1.5em;
}

.education-container {
  background-color: #2F3440;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.education-container span {
  color: #F3F6F7;
  display: block;
}

.education-container .sub-item {
  padding-top: 25px;
}

.longhorn {
  align-self: center;
  margin-right: 20px;
}

#experience-container span,#experience-container p  {
  display: block;
  color: black;
}

.grey-line-horizontal {
  width: 100%;
  height: 5px;
  background-color: #E5E5E5;
}

#resume-skills-container {
  background-color: #2F3440;
  width: 100%;
  margin-top: 10px;
}

#resume-skills-container span,#resume-skills-container p {
  color: #F3F6F7;
  display: block;
}

#resume-skills-container p {
  font-size: 2em;
}

#resume-btn-div {
  text-align: center;
}

#resume-download-btn {
  background: #C4C4C4;
  border: 1px solid #635656;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  transition: .3s;
}

#resume-download-btn:hover {
  background: #7c7979;
  cursor: pointer;
}

#spacey-container {
  background-color: #000000;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

#spacey-container span, #spacey-container p {
  color: white;
}

.proj-title {
  font-weight: 700;
  text-align: center;
  font-size: 4em;
}

#tanks-container {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.words-img {
  display: flex;
  justify-content: space-between;
}

.half-words {
  font-size: 3.5em;
  width: 50%;
  padding: 30px;
}